<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<!-- 开启组件扫描 -->
	<context:component-scan base-package="com.tlal.vms"/> 
	 
	<!-- 登录模块handler -->
	<bean id="loginHandler" class="com.tlal.vms.vms.sys.login.handler.LoginHandler" scope="prototype"></bean>
	
	<!-- 超级管理员模块 -->
	<!-- 超级管理员维护管理员信息模块handler -->
	<bean id="superAdminHandler" class="com.tlal.vms.vms.sys.supers.admin.handler.SuperAdminHandler" scope="prototype"></bean>
	<!-- 超级管理员维护车辆信息模块handler -->
	<bean id="superCarHandler" class="com.tlal.vms.vms.sys.supers.car.handler.SuperCarHandler" scope="prototype"></bean>
	<!-- 超级管理员维护子公司信息模块handler -->
	<bean id="superCompanyHandler" class="com.tlal.vms.vms.sys.supers.company.handler.SuperCompanyHandler" scope="prototype"></bean>
	<!-- 超级管理员维护子公司信息模块handler -->
	<bean id="superLogHandler" class="com.tlal.vms.vms.sys.supers.log.handler.SuperLogHandler" scope="prototype"></bean>
	<!-- 超级管理员维护我的信息模块handler -->
	<bean id="superMineHandler" class="com.tlal.vms.vms.sys.supers.mine.handler.SuperMineHandler" scope="prototype"></bean>
	
	<!-- 管理员模块 -->
	<!-- 管理员维护车辆信息模块handler -->
	<bean id="adminCarHandler" class="com.tlal.vms.vms.func.admin.car.handler.AdminCarHandler" scope="prototype"></bean>
	<!-- 管理员维护我的信息模块handler -->
	<bean id="adminMineHandler" class="com.tlal.vms.vms.func.admin.mine.handler.AdminMineHandler" scope="prototype"></bean>
	<!-- 管理员维护用户信息模块handler -->
	<bean id="adminUserHandler" class="com.tlal.vms.vms.func.admin.user.handler.AdminUserHandler" scope="prototype"></bean>
	
	<!-- 用户模块 -->
	<!-- 用户维护用户信息模块handler -->
	<bean id="userMineHandler" class="com.tlal.vms.vms.func.user.mine.handler.UserMineHandler" scope="prototype"></bean>
	<!-- 用户维护汽车信息模块handler -->
	<bean id="userCarHandler" class="com.tlal.vms.vms.func.user.car.handler.UserCarHandler" scope="prototype"></bean>
	<!-- 用户维护台账信息模块handler -->
	<bean id="userFinishSBookHandler" class="com.tlal.vms.vms.func.user.finishbook.handler.UserFinishSBookHandler" scope="prototype"></bean>
	<!-- 用户维护租赁信息模块handler -->
	<bean id="userSbookHandler" class="com.tlal.vms.vms.func.user.sbook.handler.UserSbookHandler" scope="prototype"></bean>

</beans>
